@charset "UTF-8";
body,
a,
p,
div,
span,
li,
ul,
h1,
h2,
h3,
h4,
strong,
i,
img,
input,
del {
  margin: 0;
  padding: 0;
}

body {
  font: 12px/100% "微软雅黑";
  background-color: #fff;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333333;
}

h1,
h2,
h3,
h4 {
  font-weight: 400;
}

img {
  vertical-align: middle;
  border: none;
}

input {
  border: none;
  outline: none;
}

i {
  font-style: normal;
}

.clearfix {
  content: ".";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

.clearfix {
  *zoom: 1;
}

.w {
  width: 850px;
  margin: 0 auto;
}

.header-wrapper {
  height: 60px;
  line-height: 60px;
  position: relative;
}

.header-wrapper .logo {
  position: absolute;
  left: 0;
  height: 100%;
}

.header-wrapper .logo a {
  display: block;
}

.header-wrapper .logo a img {
  width: 121px;
}

.header-wrapper .tab {
  position: absolute;
  left: 141px;
  height: 60px;
}

.header-wrapper .tab li {
  float: left;
  font-size: 14px;
}

.header-wrapper .tab li a {
  padding: 0px 10px;
  display: block;
}

.header-wrapper .tab li a:hover {
  color: #ffffff;
  background-color: #31c37d;
}

.header-wrapper .right {
  position: absolute;
  left: 540px;
}

.header-wrapper .right .search input {
  width: 155px;
  height: 25px;
  border: 1px solid #ccc;
  padding-left: 15px;
}

.header-wrapper .right .search .search-icon {
  position: absolute;
  left: 149px;
  top: 22px;
}

.header-wrapper .right .logo-text {
  position: absolute;
  right: -40px;
  top: 0;
  cursor: pointer;
}

.header-wrapper .right .pay {
  width: 80px;
  border: 1px solid #ccc;
  height: 26px;
  position: absolute;
  top: 16px;
  right: -140px;
  line-height: 26px;
  text-align: center;
}

.header-wrapper .right .pay:hover {
  background-color: #00c683;
  cursor: pointer;
}

.bannar {
  position: relative;
  height: 520px;
  background-image: url(../img/10.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
}

.bannar-wrapper {
  position: relative;
  top: 0;
  height: 100%;
}

.bannar-wrapper .bannar-title {
  position: absolute;
  font-size: 32px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #ffffff;
  top: 57px;
}

.bannar-wrapper .link {
  position: absolute;
  top: 122px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.bannar-wrapper .link li {
  float: left;
  padding: 0 25px;
  color: #646464;
  cursor: pointer;
}

.bannar-wrapper .all {
  position: absolute;
  right: 20px;
  top: 122px;
  color: #fff;
}

.bannar-wrapper i {
  position: absolute;
  right: 0;
  top: 122px;
  background-image: url(../img/jlt.png);
  background-position: 78px 196px;
  width: 16px;
  height: 16px;
}

.bannar-wrapper .list {
  position: absolute;
  text-align: center;
  top: 165px;
}

.bannar-wrapper .list li {
  width: 25%;
  float: left;
  background-color: rgba(0, 0, 0, 0.5);
  height: 290px;
}

.bannar-wrapper .list li a {
  display: block;
  width: 100%;
  height: 100%;
}

.bannar-wrapper .list li a img {
  width: 100%;
}

.bannar-wrapper .list li a p {
  line-height: 20px;
  text-align: center;
  color: #fff;
}

.bannar-wrapper .list li a p:nth-of-type(1) {
  margin-top: 20px;
}

.hot-song {
  padding-top: 60px;
  text-align: center;
  margin-bottom: 80px;
}

.hot-song .title {
  font-size: 32px;
  padding-bottom: 38px;
}

.hot-song .song-list {
  height: 330px;
}

.hot-song .song-list li {
  width: 25%;
  float: left;
  height: 100%;
  background-color: #333333;
}

.hot-song .song-list li a {
  display: block;
  width: 100%;
  height: 100%;
  color: #fff;
  text-align: center;
}

.hot-song .song-list li a p {
  line-height: 24px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0 30px;
}

.hot-song .song-list li a p:nth-of-type(1) {
  padding-top: 26px;
}

.hot-song .song-list li a p:nth-of-type(2) {
  color: #5a5a5a;
}

.hot-song .song-list li a img {
  width: 100%;
}

.mv {
  background-color: #e6e6e6;
}

.mv .mv-wrapper {
  position: relative;
}

.mv .mv-wrapper .all {
  position: absolute;
  right: 20px;
  top: 110px;
}

.mv .mv-wrapper i {
  position: absolute;
  right: 0;
  top: 110px;
  background-image: url(../img/jlt.png);
  background-position: 78px 196px;
  width: 16px;
  height: 16px;
}

.mv .title {
  font-size: 32px;
  text-align: center;
  padding-top: 58px;
  padding-bottom: 40px;
}

.mv .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  margin-bottom: 20px;
}

.mv .nav li {
  float: left;
  padding-right: 50px;
}

.mv .content .pics {
  overflow: hidden;
  margin-bottom: 20px;
}

.mv .content .pics li {
  float: left;
  width: 25%;
}

.mv .content .pics li img {
  width: 100%;
}

.mv .content .desc {
  overflow: hidden;
  padding-bottom: 20px;
}

.mv .content .desc li {
  float: left;
  width: 25%;
  text-align: center;
  line-height: 22px;
}

.mv .content .desc li p {
  padding: 0 30px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.mv .content .desc li p:nth-child(n + 2) {
  color: #5a5a5a;
}

.footer {
  background-color: #333333;
  padding-bottom: 70px;
}

.footer .footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 60px;
  color: #9fa18f;
}

.footer .footer-wrapper .client h4 {
  padding-bottom: 40px;
}

.footer .footer-wrapper .client .client-list {
  overflow: hidden;
}

.footer .footer-wrapper .client .client-list li {
  float: left;
  margin-right: 20px;
}

.footer .footer-wrapper .client .client-list li:nth-last-child(1) {
  margin-right: 0;
}

.footer .footer-wrapper .client .client-list li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  color: #9fa18f;
}

.footer .footer-wrapper .client .client-list li a i {
  height: 35px;
  display: block;
  width: 35px;
  background-image: url(../img/footer.png);
}

.footer .footer-wrapper .client .client-list li a .moc {
  background-position: -70px 0;
}

.footer .footer-wrapper .client .client-list li a .android {
  background-position: -140px 0;
}

.footer .footer-wrapper .client .client-list li a .iphone {
  background-position: -205px 0;
}

.footer .footer-wrapper .client .client-list li a .pc:hover {
  background-position: 0px 34px;
}

.footer .footer-wrapper .client .client-list li a .moc:hover {
  background-position: -70px 34px;
}

.footer .footer-wrapper .client .client-list li a .android:hover {
  background-position: -140px 34px;
}

.footer .footer-wrapper .client .client-list li a .iphone:hover {
  background-position: -205px 34px;
}

.footer .footer-wrapper .client .client-list li a p {
  padding-top: 15px;
}

.footer .footer-wrapper .product {
  margin-left: 90px;
  margin-right: 65px;
}

.footer .footer-wrapper .product h4 {
  padding-bottom: 40px;
}

.footer .footer-wrapper .product .product-list {
  overflow: hidden;
  padding-bottom: 20px;
}

.footer .footer-wrapper .product .product-list li {
  margin-right: 30px;
  float: left;
}

.footer .footer-wrapper .product .product-list li:nth-last-of-type(1) {
  margin-right: 0;
}

.footer .footer-wrapper .product .product-list li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  color: #9fa18f;
}

.footer .footer-wrapper .product .product-list li a i {
  height: 35px;
  display: block;
  width: 35px;
  background-image: url(../img/footer.png);
}

.footer .footer-wrapper .product .product-list li a .k {
  background-position: -275px 0;
}

.footer .footer-wrapper .product .product-list li a .k:hover {
  background-position: -275px 34px;
}

.footer .footer-wrapper .product .product-list li a .supper {
  background-position: -345px 0;
}

.footer .footer-wrapper .product .product-list li a .supper:hover {
  background-position: -345px 34px;
}

.footer .footer-wrapper .product .product-list li a .QPlay {
  background-position: -415px 0;
}

.footer .footer-wrapper .product .product-list li a .QPlay:hover {
  background-position: -415px 34px;
}

.footer .footer-wrapper .product .product-list li a p {
  padding-top: 15px;
}

.footer .footer-wrapper .product .two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .footer-wrapper .product .two li {
  padding-right: 40px;
}

.footer .footer-wrapper .Partner-Links h4 {
  padding-bottom: 40px;
}

.footer .footer-wrapper .Partner-Links .link-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .footer-wrapper .Partner-Links .link-box ul {
  width: 80px;
}

.footer .footer-wrapper .Partner-Links .link-box ul li {
  margin-bottom: 15px;
}

.footer .footer-wrapper .Partner-Links .link-box ul li a {
  display: block;
  width: 100%;
  height: 100%;
  color: #9fa18f;
}

.copy {
  background-color: #333;
  border-top: 1px solid #323232;
}

.copy .copy-msg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #9fa18f;
  padding-top: 30px;
  padding-bottom: 30px;
}

.copy .copy-msg p {
  line-height: 24px;
}
/*# sourceMappingURL=index.css.map */