@import "./base.scss";
.top {
  height: 33px;
  background-color: #dc363b;
  .top-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    li {
      float: left;
      line-height: 33px;
      color: #fff;
      a {
        color: #fff;
        font-size: 16px;
        padding: 0 20px;
      }
      .console {
        border: 1px solid #fff;
        border-radius: 5px;
        padding: 2px 10px;
      }
    }
  }
}
.top-list {
  height: 70px;
  background-color: #d7e0f2;
  .logo-wrapper {
    line-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .nav {
      li {
        float: left;
        padding-left: 50px;
        font-size: 16px;
        a {
          padding-bottom: 22px;
          &:hover {
            color: #dc363b;
            border-bottom: 3px solid #d2292b;
          }
        }
        .active {
          color: #dc363b;
          border-bottom: 3px solid #d2292b;
        }
      }
    }
  }
}
//轮播图模块
.banner {
  background: url(../images/003_02.jpg);
  height: 650px;
  background-size: cover;
  position: relative;
  .container {
    height: 100%;
    text-align: center;
    .indicatot {
      position: absolute;
      bottom: 30px;
      i {
        width: 20px;
        height: 20px;
        background-color: #adaeab;
        border-radius: 10px;
        display: inline-block;
        margin-right: 5px;
      }
      .active {
        background-color: #fff;
      }
    }
  }
}
//基础云服务模块
.cloud-services {
  text-align: center;
  margin-bottom: 140px;
  h3 {
    padding-top: 42px;
    padding-bottom: 28px;
    font-size: 32px;
  }
  p.des {
    font-size: 14px;
    color: #666669;
    padding-bottom: 50px;
  }
  .services-list {
    display: flex;
    height: 175px;
    li {
      display: flex;
      margin-right: 2px;
      justify-content: center;
      align-items: center;
      flex: 1;
      height: 100%;
      background-color: #737676;
      a {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        .pics {
          width: 70px;
          height: 70px;
          border-radius: 35px;
          background-color: #fff;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-bottom: 20px;
        }
        p.fr {
          font-size: 20px;
          color: #fff;
        }
      }
    }
  }
}
//通用解决方案
.solution {
  text-align: center;
  h3 {
    font-size: 32px;
    padding-bottom: 28px;
  }
  p.tit {
    font-size: 14px;
    color: #666669;
    padding-bottom: 80px;
  }
  .solution-des {
    display: flex;
    .left {
      width: 50%;
    }
    .right {
      padding-top: 40px;
      flex: 1;
      text-align: left;
      .title {
        display: inline;
        font-size: 24px;
        padding-bottom: 14px;
        border-bottom: 1px solid #dddddd;
      }
      .desc {
        margin-bottom: 35px;
        padding-top: 35px;
        line-height: 28px;
        font-size: 14px;
        color: #b4b4b4;
      }
      a {
        padding: 10px 30px;
        font-size: 16px;
        border-radius: 5px;
        border: 1px solid #ed4746;
      }
    }
  }
}
//条款模块
.notices {
  display: flex;
  margin-bottom: 90px;
  ul {
    margin-right: 60px;
    &:nth-last-child(1) {
      margin-right: 0;
    }
    li {
      color: #96989d;
      overflow: hidden;
      line-height: 34px;
      white-space: nowrap;
      text-overflow: ellipsis;
      word-break: break-all;
      img {
        padding: 11px 0px;
      }
      &:nth-of-type(1) {
        color: #333333;
        .tit {
          padding-bottom: 23px;

          h3 {
            display: inline-block;
            font-size: 26px;
            padding-bottom: 14px;
            border-bottom: 1px solid #dddddd;
          }
        }
      }
    }
  }
}
//底部模板
.footer {
  background-color: #333232;
  .footer-list {
      padding-bottom: 70px;
    padding-top: 40px;
    display: flex;
    ul {
      flex: 1;
      &:nth-last-of-type(1) {
        color: #888888;
        .left {
          padding-right: 20px;
          
        }
        .right {
          font-size: 14px;
          a {
             line-height: 34px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            word-break: break-all;
            padding-bottom: 10px;
            border-bottom: 1px solid #42434e;
            img{
                padding-right: 5px;
            }
          } 
        }
        li {
          &:nth-of-type(1) {
            display: flex;
          }
        }
      }
      li {
        line-height: 30px;
        font-size: 14px;
        &:nth-of-type(1) {
          font-size: 16px;
          padding-bottom: 17px;
          a {
            color: #fff;
          }
        }
      }
      a {
        color: #888888;
      }
    }
  }
}
